# for llama 2 and llama 3
transformers==4.36.0
lm-eval==0.4.4
peft==0.13.2
datasets==2.17.1
accelerate
huggingface_hub
sentencepiece
tiktoken
protobuf
safetensors
tqdm
psutil
wandb
python-dotenv
numpy
